# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
# VSCode
.vscode/
# Data, outputs, models (avoid committing large files)
data/
output/
models/
!output/labels.csv
# OS
.DS_Store
Thumbs.db
# Python virtual env specifics
pip-log.txt